.flexbox-container {
    display: flex;
    align-items: stretch;
    justify-content: space-around; margin: auto;
    

    
}
.item{
    display: flex;
    width: 1500px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: black;
    border-style: groove;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    
}


body{
    background-image: url(https://media.istockphoto.com/photos/black-and-white-marble-texture-in-nature-abstract-pattern-background-picture-id1142663070);
}

h1{
    margin: 26px;
    color: black;
}

a.NavBar{
    text-decoration: none;
    color: black;
}

a.ProdLink{
    text-decoration: none;
    color: black;
}

.flexbox-container-img{
    
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 900px;
    border: black;
    border-style: groove;
    justify-self: center;
    margin:auto;
}

.About-container{
    background-color: rgb(255, 255, 255);
    width: 1300px;
    height: 1000px;
    border: black;
    border-style: groove;
    justify-self: center;
    margin:auto;

}



.flexbox-item-img-1{
    display: flex;
    align-items: stretch;
    justify-content: space-around; margin: auto;

}

.item-logo{
    display: flex;
    align-self: center;
    justify-self:center;
    height: 250px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flexbox-item-img-2{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;    
}

.flexbox-item-a-2{
    margin: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #ffffff;
}


.flexbox-item-a-img{
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    height: 199px;
    width: 249px;
}
.flexbox-item-a-img-2{
    height: 300px;
    width: 400px;
}

.flexbox-container-img-prod{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 915px;
    height: 900px;
    margin-top: 25px;
    border-radius: 5px;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:auto;
    animation-name: Crazy2;
    animation-duration: 0.5s;
    position: relative;
    

}
@keyframes Crazy2 {
    0%  {background-color:rgba(255, 255, 255, 0); top:0px;}
    100%  {background-color:rgb(255, 255, 255); top:0px;}
    }

.flexbox-item-prod{
    margin-top: 25px;
    margin-bottom: 25px;
    
    
    
    
}

h5{
    margin-top: 2px;
}

.flexbox-container-footer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.63);
    height: 200px;
    width:auto;
    border-style: solid;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    
    
    
}

.flexbox-container-rubrik{
    display: flex;
    justify-content: center;
    margin-bottom: -40px;
    margin: auto;
    
    
}

.flexbox-item-rub{
    display: flex;
    width: 250px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: black;
    border-style: groove;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: rgb(0, 0, 0); 
    animation-name: Crazy;
    animation-duration: 0.5s;
    position: relative;
    animation-iteration-count: infinite;
}
@keyframes Crazy {
  14%  {background-color:rgb(255, 0, 0); top:0px;}
  28%  {background-color:rgb(255, 145, 0); left:0px; top:10px;}
  28%  {background-color:rgb(251, 255, 0); top:10px;}
  42% {background-color:rgb(0, 255, 0); left:0px; top:0px;}
  57%  {background-color:rgb(4, 0, 255); top:0px;}
  71%  {background-color:indigo left; top:10px;}
  85%  {background-color:violet  top;10px;}
  }

h2{
    margin-top: 6.5px;
}

.flexbox-container-con-1{
    display: flex;
    width: 500px;
    height: 130px;
    margin-left: 250px;
    justify-content: center;
    margin-bottom: 0px;
    


    
}

.flexbox-item-con-1{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 400px;
    margin-top: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    border-style: groove;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    margin: 10px;
    justify-content: center;
    
}
.flexbox-container-con-2{
    display: flex;
    width: 1200px;
    height: 500px;
    justify-content:space-between;
    margin-bottom: 50px;
    margin: auto;
    margin-left: 242px;
    
}

.flexbox-item-con-2{
    display: flex;
    border: black;
    border-style: groove;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.63);
    text-align: center;
    height: 500px;
    width: 500px;
    


}
.contacts-img-item{
    align-self: center;
    margin-right: 200px;
    border: #000000b7;
    border-style:groove;
    border-width: 5px;
    height: 500px;
    background-color: blueviolet;
    margin: auto;

}


.text-1{
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-style: italic;
    
}


/* Slideshow container */
.slideshow-container {
  width: 500px;
  position: relative;
  margin: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  border-style:ridge;
  border-color: rgb(0, 0, 0);
  border-width: 10px;
  margin-top: 50px;

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
 
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.buy-item{
    display: flex;
    width: 500px;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 10px;
    border-color: black;
    border-style: solid;


}
.buy-container{
    display: flex;
    height: 100px;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
    align-items: center;
}

a.button{
    margin-bottom: -100px;
    margin-top: ;
    
}

.buy-text
